<ion-header>
  <ion-toolbar>
    <div text-center>
      <ion-title >Add new Item</ion-title>
    </div>
    <ion-button (click)="backToMenu()" slot="start" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price ($$)</ion-label>
      <ion-input type="number" formControlName="price" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select type="text" formControlName="category" required>
        <ion-select-option>Dish</ion-select-option>
        <ion-select-option>Desert</ion-select-option>
        <ion-select-option>Drink</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input type="URL" formControlName="photo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>
    <div alight-items="center">
      <ion-button class="submit-button" expand="block" type="submit" [disabled]="!new_item_form.valid">
        Create
      </ion-button>
    </div>
  </form>
</ion-content>
